.Github-Enterprise {
    display: flex;
    width: 90%;
    margin: 80px auto;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 14px #80808045;
    padding: 60px 0px;
}

.Github-Enterprise h2 {
    font-weight: 600;
}

.Github-Enterprise p {
    color: #586069;
}

.ghe-heading {
    width: 25%;
    text-align: start;
    margin-right: 5em;
}

.ghe-options {
    display: flex;
}

.ghe-getstarted img {
    width: 100%;
    max-width: 60px;
}

.ghe-getstarted p {
    font-size: 14px;
}

.ghe-getstarted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}