:root {
  --header-bg-color: #24292e;
  --header-color: #fff;
  --nav-hover: #ffffffbf;
  --white: white;
  --content-black: #24292e;
  --grey: #586069;
}

html, body {
  height: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  /* text-align: center; */
}

p {
  padding: 0;
  margin: 0;
}

/* main started */

section {
  padding-top: 80px;
  scroll-padding-bottom: 80px;
}

.Section-detail {
  width: 50%;
  margin: auto;
}

.Section-detail p {
  margin: 15px auto;
  font-size: 20px;
  color: var(--grey);
}

.getstarted-btn {
  margin-top: 20px;
  font-size: 12px;
  padding: 15px 18px;
  display: block;
  padding: 15px 18px;
  margin-bottom: 0px;
}

.Gihub-main {
  display: flex;
  background-image: url(images/simple-codelines.svg);
  background-color: #2b3137;
  height: auto;
}

.Gihub-main>div {
  max-width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px;
}

.Github-about {
  color: var(--header-color);
  width: 60%;
  margin-right: 50px;
}

.Github-about h1 {
  font-size: 62px;
  margin: 0;
  font-weight: 600;
  line-height: 1em;
  color: var(--white);
  margin-bottom: 15px;
}

.Github-about a {
  color: var(--white);
}

.Github-about p {
  font-size: 20px;
  color: #aaadaf;
}

/* section */

/* section github teams */

.btn-outline-primary {
  /* padding: 20px 25px; */
  font-weight: 600;
  /* margin-top: 30px; */
  /* margin-bottom: 40px; */
  border: 0.5px solid rgba(16, 116, 231, .5);
  color: #1074e7;
}

.btn-outline-primary:hover {
  color: #0366d6;
  background-color: #ffffff00;
  border-color: #1074e7;
}

/* section */

figure {
  text-align: start;
}

/* section */

.Leading-co-git-ent {
  color: var(--grey);
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 100px;
}

figcaption {
  margin: 10px;
}

figcaption>div:nth-child(1) {
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

figcaption div p:nth-child(1) {
  color: var(--content-black);
  font-weight: 600;
  font-size: 15px;
}

figcaption div p:nth-child(2) {
  color: var(--grey);
  font-size: 12px;
}

figcaption>p {
  color: dodgerblue;
  font-size: 14px;
}

.Leading-co-git-ent>p {
  margin-bottom: 20px;
}

.GitEntImages a {
  text-decoration: none;
}

@media only screen and (max-width: 1010) {
  .Gihub-main>div {
    flex-direction: column;
  }
  .Github-about {
    margin: 0;
    width: 100%;
  }
  .Github-signin {
    margin-top: 30px;
    width: 100%;
  }
  .Github-Enterprise {
    flex-direction: column;
  }
  .ghe-heading {
    width: 80%;
    text-align: center;
    margin: 5em;
  }
  .Collaboration {
    flex-direction: column;
  }
  .Sub-Detail {
    flex-direction: column;

  }
}

@media only screen and (max-width: 1270px) {
  .Sub-Detail {
    flex-direction: column;
  }
  .Github-details {
    width: 100%;
  }
  .Github-details a{
    display: flex;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .Nav-link, .Search-input {
    display: none;
  }

  .account-info a {
    display: none;
  }
  .Github-Enterprise {
    flex-direction: column;
  }
  .ghe-heading {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .Github-Enterprise p {
    color: #586069;
    width: 70%;
    margin: auto;
  }
  .ghe-options {
    margin-top: 25px;
  }
  .Verification img {
    height: 165px;
  }
  .Hosted {
    width: 50%;
  }
  .Section-detail {
    width: 100%;
  }
  .Ic img {
    width: 50px;
  }
  .Integration-icons {
    flex-wrap: wrap;
  }
  .Sub-Detail {
    width: 100%;
  }
  .Developers {
    margin-left: -40px;
  }
  .Repositories {
    margin: 0;
  }
  .Get-started form {
    display: block;
    width: 80%;
  }
  .Get-started {
    padding: 30px;
  }
  .Get-started form div {
    margin-bottom: 30px;
  }
  .Get-started form div:nth-child(n+3) {
    width: 50%;
    margin: auto;
  }
  .Get-started button {
    width: 100%;
    margin-top: 30px;
  }
  footer>div>div:nth-child(2) {
    display: flex;
    margin-top: 30px;
  }
  footer>div:nth-child(1) {
    flex-direction: column;
  }
  @media only screen and (min-width: 1024px) {
    .Collaboration {
      flex-direction: column;
    }
    .collab-div {
      width: 80%;
      margin: auto;
    }
  }
}